:root {
    --blue: #1976D2;
    --green: #388E3C;
    --red: #D32F2F;
    --white: #fff;
    --dark-gray: #333;
    --light-gray: #ccc;
}
#findco-vote {
    display: flex;
    align-items: center;
    gap: 15px;
}
#findco-vote button {
    border: 1px solid var( --light-gray );
    background-color:var( --white );
    color: var( --dark-gray );
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: inherit;
}
#findco-vote button div {
    display: flex;
    align-items: center;
    justify-content: center;
}
#findco-vote button span.bg {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: var( --dark-gray );
}
#findco-vote button.up:hover span.bg, 
#findco-vote button.down:hover span.bg {
    background-color:var( --white );
}
#findco-vote button:hover {
    color:var( --white ) !important;
}
#findco-vote button.up span.bg {
    -webkit-mask-image: url('{{PLUGIN_URL}}public/images/thumb-up.svg');
    mask-image: url('{{PLUGIN_URL}}public/images/thumb-up.svg');
}
#findco-vote button.down span.bg {
    -webkit-mask-image: url('{{PLUGIN_URL}}public/images/thumb-down.svg');
    mask-image: url('{{PLUGIN_URL}}public/images/thumb-down.svg'); 
}
#findco-vote button.up:hover {
    background-color: var( --green );
    border-color: var( --green );
}
#findco-vote button.down:hover {
    background-color: var( --red );
    border-color: var( --red );
}
#findco-vote button.voted {
    border-color: var(--blue);
    color: var(--blue);
}
#findco-vote button.voted span.bg {
    background-color: var(--blue);
}

@media only screen and (max-width: 600px) {
    #findco-vote { 
        display: block; 
        text-align: center; 
    }
    #findco-vote .btns { 
        display: flex; 
        align-items: center; 
        gap: 10px; 
        justify-content: center; 
    }
    #findco-vote .btns button {
        margin-top: 10px;
        width: 100%;
        
    }
} 
