#findco-vote {
    display: flex;
    align-items: center;
    gap: 15px;
}
#findco-vote button {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: inherit;
}
#findco-vote button div {
    display: flex;
    align-items: center;
    justify-content: center;
}
#findco-vote button span.bg {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
#findco-vote button:hover  span.bg {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
#findco-vote button:hover {
    color: #fff;
}
#findco-vote button.up span.bg {
    background-image: url('{{PLUGIN_URL}}public/images/thumb-up.svg');  
}
#findco-vote button.down span.bg {
    background-image: url('{{PLUGIN_URL}}public/images/thumb-down.svg');  
}
#findco-vote button.up:hover {
    background-color: green;
    border-color: green;
}
#findco-vote button.down:hover {
    background-color: red;
    border-color: red;
}
@media only screen and (max-width: 600px) {
    #findco-vote { 
        display: block; 
        text-align: center; 
    }
    #findco-vote .btns { 
        display: flex; 
        align-items: center; 
        gap: 10px; 
        justify-content: center; 
    }
    #findco-vote .btns button {
        margin-top: 10px;
        width: 100%;
        
    }
} 